.About-Main {
    position: relative;
    padding: 2em;
    padding-top: 0.5em;
    min-height: fit-content !important;
}

.About-Content {
    width: 100%;
    height: 100%;
    padding: 3.5em 0;
    gap: 2em;
    /* overflow: hidden; */
}

.About-Image {
    border-radius: 50%;
    transform: rotateY(180deg);
    margin: 0 5em;
}

.About-Info {
    width: 80%;
    align-items: flex-start;
    letter-spacing: 1px;
    border-left: 1px solid var(--purple);
    padding: 2em 0 2em 3em;
}

/* Mobile Responsive CSS */
@media (width < 750px) {
    .About-Main {
        padding: 2em;
        /* padding-top: 0; */
        /* margin-top: 2em; */
    }

    .About-Title {
        line-height: 1.5em;
    }

    .About-Image {
        width: 200px !important;
        margin: 0;
    }


    .About-Content {
        flex-direction: column;
        padding: 0;
    }

    .About-Info {
        width: 100%;
        border: none;
        padding: 0;
    }
}