.Hero-Main {
    width: 100%;
    /* height: 100vh; */
    height: calc(100vh - 4em) !important;
    padding: 1em 2em;
    background-color: rgba(255, 255, 255, 0.1);
    background-color: var(--base);
    justify-content: space-around;
}

.Hero-Intro {
    justify-content: flex-start;
    gap: 2em;
}

.Hero-Text {
    /* cursor: default; */
    letter-spacing: 1px;
}

.Hero-Text p {
    font-size: 24px;
}

.Hero-Text h1 {
    font-size: 9em;
    padding-bottom: 0.1em;
    font-family: Ubuntu;
}

.Hero-Text span {
    font-family: Ubuntu;
}

.Hero-Links {
    width: 100%;
    justify-content: flex-start;
    gap: 2.5em;
}

.Hero-AvatarContainer {
    --avatar-width: 500px;
    width: var(--avatar-width);
    aspect-ratio: 1;
    position: relative;
    /* top: -4em; */
    overflow: hidden;
}

.Hero-Avatar {
    width: 50%;
    /* width: 300px; */
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    z-index: 6;
    cursor: none;
    /* transition: 0.5s ease-in-out; */
}

.Hero-Avatar img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: inherit;
}

.Hero-AvatarTrail {
    width: 60%;
    /* width: 350px; */
    aspect-ratio: 1;
    background: conic-gradient(transparent,
            transparent,
            var(--purple),
            var(--pink), #fff);
    border-radius: 50%;
    position: absolute;
    animation: spin 6s linear infinite;
    z-index: 5;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.Hero-AvatarTrail::before {
    content: "";
    width: calc(100% - 1%);
    aspect-ratio: 1;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    background-color: var(--base);
}

.Hero-TrailDot {
    width: 0.5em;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 0 50% 50% 50%;
    transform: rotate(-45deg);
    position: absolute;
    top: -0.2em;
    left: 50%;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #fff;
}

.Trail2 .Hero-TrailDot,
.Trail4 .Hero-TrailDot {
    transform: rotate(140deg);
}

.Trail2 {
    width: 70%;
    /* width: 400px; */
    animation-duration: 8s;
    animation-direction: reverse;
    /* background: conic-gradient(
        #fff,
        #fff,
        transparent,
        transparent); */
    background: conic-gradient(#fff,
            var(--pink),
            var(--purple),
            transparent,
            transparent);
    z-index: 4;
}

.Trail3 {
    width: 80%;
    /* width: 450px; */
    animation-duration: 10s;
    z-index: 3;
}

.Trail4 {
    width: 90%;
    /* width: 540px; */
    animation-duration: 12s;
    animation-direction: reverse;
    background: conic-gradient(#fff,
            var(--pink),
            var(--purple),
            transparent,
            transparent);
    z-index: 2;
}

.Hero-TrailDot img {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    top: -0.25em;
    opacity: 0;
    transition: 0.2s ease-out;
}

/* .Hero-AvatarContainer:hover{
    transition: all 5s ease-in-out;
} */

/* :has(.Hero-Avatar:hover) .Hero-AvatarTrail{
    animation-play-state: paused;
} */

:has(.Hero-Avatar:hover) .Hero-TrailDot {
    background-color: var(--base) !important;
    outline: 0.5px solid #fff;
    /* border-radius: 50% !important; */
    scale: 2;
}

/* :has(.Hero-Avatar:hover) .Hero-TrailDot img{
    width: 100%;
    aspect-ratio: 1;
    opacity: 1;
} */


/* Mobile Responsive CSS */
@media (width < 750px) {
    .Hero-Main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 2em;
        gap: 3em;
    }

    .Hero-AvatarContainer {
        --avatar-width: 370px;
        top: 0em;
    }

    .Hero-Text h1 {
        font-size: 4em;
        padding-bottom: 0.2em;
        text-align: center;
    }

    .Hero-Text p {
        text-align: center;
        font-size: 18px;
    }

    .Hero-Links {
        justify-content: center;
    }

    :has(.Hero-Avatar:hover) .Hero-TrailDot {
        outline: 1px solid #fff;
    }
}