.Hero_Trail {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: spin 6s linear infinite;
}

.Hero_Trail::before {
    content: "";
    width: calc(100% - 1%);
    aspect-ratio: 1;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    background-color: var(--base);
}

.Trail1 {
    width: 60%;
    background: var(--orbitGradient);
    z-index: 5;
}

.Trail2 {
    width: 70%;
    animation-duration: 8s;
    animation-direction: reverse;
    background: var(--orbitGradientAlt);
    z-index: 4;
}

.Trail3 {
    width: 80%;
    background: var(--orbitGradient);
    animation-duration: 10s;
    z-index: 3;
}

.Trail4 {
    width: 90%;
    animation-duration: 12s;
    animation-direction: reverse;
    background: var(--orbitGradientAlt);
    z-index: 2;
}

.Trail2 span,
.Trail4 span {
    transform: rotate(140deg) !important;
}