.ProjectDetails-Main {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    padding: 1em 0.8em;
    background-color: var(--baseLite);
    backdrop-filter: blur(5px);
    transition: 0.25s ease-in-out;
    z-index: 99999;
    overflow-y: scroll;
}

.ProjectDetails-Main.Hidden {
    visibility: hidden !important;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 105vh;
    left: 45vw;
    z-index: -999;
}

.ProjectDetails-Main.ShowModal {
    visibility: visible;
}

/* :has(.ProjectDetails-Main.ShowModal) body,
:has(.ProjectDetails-Main.ShowModal) main,
:has(.ProjectDetails-Main.ShowModal) html {
    overflow: hidden !important;
} */

:has(.ProjectDetails-Main.ShowModal) .lenis-scrolling {
    overflow: hidden !important;
}