/* Mobile Ham Menu Animation --> */
.MobileNav_Ham.isOpen {
    transform: rotate(45deg);
}

:has(.MobileNav_Ham.isOpen) body {
    overflow-y: hidden !important;
}

.MobileNav_Ham.isOpen .top {
    stroke-dashoffset: -64px;
}

.MobileNav_Ham.isOpen .middle {
    stroke-dasharray: 40 142;
    stroke-dashoffset: 0%;
    transform: rotate(90deg);
}

.MobileNav_Ham.isOpen .bottom {
    stroke-dasharray: 40 85;
    stroke-dashoffset: -64px;
}

/* <-- Mobile Ham Menu Animation */


/* Projects Card Hover */
/* .CardHover {
    transition: 0.25s ease-in-out;
} */

/* .CardHover:hover {
    transform: translateY(-1em) !important
} */

.Card_Main:hover .Card_Image {
    opacity: 0.8;
}