/* Page Title Style */
.Title-Tag {
    font-family: Ubuntu;
}

.Title-Tag span,
.Title-Tag p {
    z-index: 1;
    background-color: var(--base);
    padding-inline: 0.25em;
}

.Title-Tag.open {
    margin-bottom: 1em;
    justify-content: flex-start;
}

.Title-Tag.close {
    justify-content: flex-end;
    padding-top: 0.5em;
    opacity: 0.6;
}

.Title-Tag.purple span {
    color: var(--purple);
}

.Title-Tag.pink span {
    color: var(--pink);
}

.Title_Line::after {
    content: "";
    position: absolute;
    margin-top: 0.3em;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: var(--purpleLite);
}

.Title_Line.pink::after {
    background-color: var(--pinkLite);
}

.Title_Line.close::after {
    background-color: transparent;
}

/* Mobile Ham Menu Animation --> */
.MobileNav_Ham {
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.4s;
    user-select: none;
}

.MobileNav_Ham.isOpen {
    transform: rotate(45deg);
}

:has(.MobileNav_Ham.isOpen) body {
    overflow-y: hidden !important;
}

.MobileNav_Ham .line {
    fill: none;
    transition: stroke-dasharray 0.4s,
        stroke-dashoffset 0.4s;
    stroke: #fff;
    stroke-width: 5.5;
    transform-origin: right;
    stroke-linecap: round;
}

.MobileNav_Ham .top {
    stroke-dasharray: 18 160;
}

.MobileNav_Ham .middle {
    stroke-dasharray: 40 142;
    transform-origin: 83% 83%;
    transition: transform 0.4s;
}

.MobileNav_Ham .bottom {
    stroke-dasharray: 18 85;
    transform-origin: 50%;
    transition: transform 0.4s,
        stroke-dashoffset 0.4s;
}

.MobileNav_Ham.isOpen .top {
    stroke-dashoffset: -64px;
}

.MobileNav_Ham.isOpen .middle {
    stroke-dasharray: 40 142;
    stroke-dashoffset: 0%;
    transform: rotate(90deg);
}

.MobileNav_Ham.isOpen .bottom {
    stroke-dasharray: 40 85;
    stroke-dashoffset: -64px;
}

/* <-- Mobile Ham Menu Animation */


/* Projects Card Hover */
/* .CardHover {
    transition: 0.25s ease-in-out;
} */

/* .CardHover:hover {
    transform: translateY(-1em) !important
} */

.Card_Main:hover .Card_Image {
    opacity: 0.8;
}

.Projects_Link {
    padding: 0.45em;
    border: 1px solid var(--purpleLite);
    border-radius: 100%;
    z-index: 10;
}

:has(.Projects_Link:hover) #cursor {
    width: 3em;
    height: 3em;
}

:has(.Projects_Link.Misc-Link:hover) #cursor {
    width: 5em;
    height: 5em;
}

:has(.Projects_Link:hover) #cursorView {
    visibility: hidden !important;
}

:has(.Projects_Link:hover) #cursorDot {
    visibility: visible !important;
}

:has(.Projects-MiscInfo:hover) #cursor,
:has(.Projects_Preview:hover) #cursor {
    width: 5em;
    height: 5em;
    background: none;
    outline: 2px solid hsla(0, 0%, 100%, 0.6);
}

:has(.Projects-MiscInfo:hover) #cursorView,
:has(.Projects_Preview:hover) #cursorView {
    visibility: visible !important;
    font-size: 1.2em;
    padding-bottom: 1.15em;
}

:has(.Projects-MiscInfo:hover) #cursorDot,
:has(.Projects_Preview:hover) #cursorDot {
    visibility: hidden !important;
}