.Contact-Main {
    position: relative;
}

.Contact-Main h1 {
    width: 100%;
    justify-content: center !important;
}

.Contact-Intro {
    padding: 1em;
}

.Contact-Intro p {
    font-size: 1.2em;
    text-align: center;
}

.Contact-Main .contactGrad {
    font-family: Ubuntu;
    font-size: 2.4em !important;
}

.Contact-Container {
    width: 100%;
    height: 100%;
    gap: 5em;
    padding: 0 5em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.Contact-Left {
    /* width: 50%; */
    height: 100%;
    position: relative;
    /* top: 2em; */
}

.Contact-Social {
    position: relative;
    align-items: flex-start;
    gap: 1em;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.Contact-Icon {
    display: flex;
    align-items: flex-start;
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

.Contact-Icon.gmail {
    margin: 0 1.8em;
}

.Contact-Icon.instagram,
.Contact-Icon.twitter {
    margin-top: 2.8em;
}

.Contact-Icon.facebook,
.Contact-Icon.discord {
    margin-top: 7em;
}

:has(.Contact-Icon:hover) #cursor {
    width: 70px;
    height: 70px;
}

.Contact-VectorArt {
    position: absolute;
    top: 4em;
}

.Contact-Form {
    /* width: 50%; */
    height: 100%;
    background: var(--LinkBtnGradient);
    border-radius: 0.4em;
    padding: 1em;
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
}

.Contact-Form form {
    width: 100%;
}

.Contact-Input {
    width: 100%;
    position: relative;
    align-items: flex-start;
    padding: 0.2em 0.5em;
}

:has(.Contact-Input:hover) #cursor,
:has(.Contact-Input:hover) #cursorDot {
    opacity: 0;
}

:has(.Contact-EmailId:hover) #cursor,
:has(.Contact-EmailId:hover) #cursorDot {
    opacity: 0;
}

.Contact-Input input,
.Contact-Input textarea {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.2em;
    border-radius: 0.4em;
    border: none;
    outline: none;
    background-color: var(--base);
    color: var(--text);
}

.Contact-Input textarea {
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text) !important;
    transition: background-color 999999s ease-in-out 0s;
}

.Contact-InputError {
    font-size: 0.8em;
    padding: 0.2em;
    visibility: hidden;
}

.Contact-InputError.isError {
    visibility: visible;
}

:has(.Contact-InputError.isError).Contact-Input input {
    outline: 1px solid red;
}

.Contact-Submit {
    justify-content: flex-start;
    gap: 1em;
}

.Contact-Submit button {
    margin: 0.2em 0.5em;
    padding: 0.5em 5em;
    border-radius: 0.4em;
    font-size: 1em;
    gap: 1em;
    border: none;
    background-color: var(--base);
    color: var(--text);
    cursor: pointer;
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
}

.Contact-MsgStatus {
    color: rgb(1, 190, 1);
}

.Contact-MsgStatus.err {
    color: rgb(212, 3, 3);
}

/* #Contact-Vector {
    position: absolute;
    bottom: -1em;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow-x: auto;
} */

.Contact-EmailId {
    position: absolute;
    bottom: -1.5em;
    text-align: center;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    width: 20em;
    background: var(--LinkBtnGradient);
    cursor: pointer;
}

@media (width < 950px) {
    .Contact-Container {
        flex-direction: column;
        padding: 0;
        padding-bottom: 10em;
    }

    .Contact-Social {
        width: 380px;
        height: 380px;
    }

    .Contact-VectorArt {
        width: 300px;
    }

    .Contact-Left {
        width: 100%;
        top: 2em;
    }

    .Contact-Icon {
        padding: 0.6em
    }

    .Contact-Icon img {
        width: 25px;
        height: 25px;
    }

    .Contact-Form {
        width: 90%;
        padding: 1em;
        margin: 0 auto;
    }

    .Contact-Submit {
        gap: 0.5em;
    }

    .Contact-Submit button {
        margin: 0 0.5em;
        padding: 0.5em 1.5em;
    }

    .Contact-EmailId {
        display: none;
    }
}