.Home-Main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

p,
h1 {
    position: relative;
    z-index: 1;
}

.Home-Main section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1920px;
}

/* Page Title Style */
.Title-Tag.Opening {
    margin: 0 0 1em 0;
    justify-content: flex-start;
}

.Title-Tag.Closing {
    justify-content: flex-end;
    padding-top: 0.5em;
    opacity: 0.6;
}

.Title-Tag span {
    background-color: #000;
    color: var(--purple);
    font-family: Ubuntu;
    padding: 0 0.2em;
    font-size: 1.5em;
}

.Title-Tag.pink span {
    color: var(--pink);
}

.Title-Tag p {
    background-color: #000;
    font-family: Ubuntu;
    padding: 0 0.2em;
    font-size: 1.2em;
}

.Title-Tag.Opening::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.7em;
    width: 100%;
    height: 1px;
    z-index: -2;
    background-color: var(--purpleLite);
}

.Title-Tag.Opening.pink::after {
    background-color: var(--pinkLite);

}

@media (width < 750px) {
    .Title-Tag.Opening::after {
        height: 2px;
    }
}

/* Page Title Style */

/* Footer CSS */
#Footer-Vector {
    position: relative;
    top: 1em;
    width: 100%;
    z-index: -2;
    object-fit: cover;
    pointer-events: none;
    overflow-x: auto;
}

.Footer-Main {
    width: 100%;
    height: 50vh;
    padding: 2em 1em;
    justify-content: space-between;
    background-color: #1E004C;
    /* position: absolute; */
    /* top: 0; */
}

.Footer-Links {
    align-items: flex-start;
    gap: 5em;
}

.Footer-Links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--text);
}

.Footer-Links a span {
    position: absolute;
    opacity: 0;
}

/* Mobile Responsive CSS */
@media (width < 750px) {
    .Footer-Links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5em 5em;
    }
}

/* Responsive Screen Font Size */
@media (width >=1600px) {
    .Home-Main {
        font-size: 1.25rem;
    }
}

@media (width >=1920px) {
    .Home-Main {
        font-size: 1.5rem;
    }
}