.Home-Main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

p,
h1 {
    position: relative;
    z-index: 1;
}

.Home-Main section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

/* Page Title Style */
.Title-Tag.Opening {
    margin: 0 0 1em 0;
    justify-content: flex-start;
}

.Title-Tag.Closing {
    justify-content: flex-end;
    padding-top: 0.5em;
    opacity: 0.6;
}

.Title-Tag span {
    background-color: #000;
    color: var(--purple);
    font-family: Ubuntu;
    padding: 0 0.2em;
    font-size: 1.5em;
}

.Title-Tag.pink span {
    color: var(--pink);
}

.Title-Tag p {
    background-color: #000;
    font-family: Ubuntu;
    padding: 0 0.2em;
    font-size: 1.2em;
}

.Title-Tag.Opening::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.7em;
    width: 100%;
    height: 1px;
    z-index: -2;
    background-color: var(--purpleLite);
}

.Title-Tag.Opening.pink::after {
    background-color: var(--pinkLite);

}

@media (width < 750px) {
    .Title-Tag.Opening::after {
        height: 2px;
    }
}

/* Page Title Style */

/* Footer CSS */
.Footer-Main {
    width: 100%;
    height: 50vh;
    align-items: flex-end;
    padding: 2em 1em;
    background-color: #1E004C;
}