.Home-Main{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}

p{
    position: relative;
    z-index: 1;
}

#about,
#projects,
#contact,
#resume{
    width: 100%;
    height: 100vh;
}

#About-Vector{
    position: absolute;
    top: -116%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

#Projects-Vector{
    position: absolute;
    top: -20%;
    width: 100%;
    transform: rotate(180deg);
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}