.Home-Main {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 3;
    /* overflow: scroll; */
    /* overflow-x: hidden !important; */
    /* scroll-snap-type: y proximity; */
}

p,
h1 {
    position: relative;
    z-index: 1;
}

.Home-Main section {
    width: 100%;
    height: 100%;
    /* outline: 1px solid grey; */
    /* scroll-snap-align: start; */
}

#contact {
    position: relative;
    min-height: 150vh;
}

/* Page Title Style */
.Title-Tag.Opening {
    margin: 0 0 1em 0;
    justify-content: flex-start;
    /* padding-left: 0.5em; */
}

.Title-Tag.Closing {
    justify-content: flex-end;
    padding-top: 0.5em;
    /* padding-right: 0.5em; */
}

.Title-Tag span {
    background-color: #000;
    color: var(--purple);
    font-family: Ubuntu;
    padding: 0 0.2em;
    font-size: 1.5em;
}

.Title-Tag.pink span {
    color: var(--pink);
}

.Title-Tag p {
    background-color: #000;
    font-family: Ubuntu;
    padding: 0 0.2em;
    font-size: 1.2em;
}

.Title-Tag.Opening::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.7em;
    width: 100%;
    height: 1px;
    z-index: -2;
    background-color: var(--purpleLite);
}

.Title-Tag.Opening.pink::after {
    background-color: var(--pinkLite);

}

/* Page Title Style */

#footer {
    width: 100%;
    height: 50vh;
    background-color: #1E004C;
}

#Contact-Vector {
    position: absolute;
    bottom: -1em;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}