---
import Layout from "../layouts/Layout.astro";
import { Hero, About, Skills, Contact, Footer } from "../components";
---

<Layout>
	<Hero />
	<About />
	<Skills />
	<div id="projects" class="bg-green-600/60 w-full h-screen"></div>
	<Contact />
	<Footer />
</Layout>
