---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Hero />
	<About />
	<Skills />
	<div id="projects" class="bg-green-600/60 w-full h-screen"></div>
	<Contact />
	<Footer />
</Layout>
