---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero />
	<div id="about" class="bg-red-600/60 w-full h-screen"></div>
	<div id="skills" class="bg-blue-600/60 w-full h-screen"></div>
	<div id="projects" class="bg-green-600/60 w-full h-screen"></div>
	<div id="contact" class="bg-yellow-600/60 w-full h-screen"></div>
</Layout>
