.Header-Main {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    transition: 0.3s ease;
    /* background-color: red; */
}

.Header-Container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.6),
            transparent);
    padding: 0.2em 1.5em;
    position: relative;
    /* top: 0; */
    backdrop-filter: blur(2px);
    justify-content: space-between;
    transition: 0.3s ease;
}

.Header-Logo {
    cursor: pointer;
    text-decoration: none;
}

.Header-Ham {
    display: none;
}

.Header-Container nav {
    list-style: none;
    gap: 1.5em;
    position: relative;
}

.Mobile-HomeNav {
    display: none;
}

.Header-Container nav a {
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: none;
    color: var(--text);
    overflow: hidden;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Header-Container nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    /* background: var(--gradient);
    background-size: 200%;
    animation: gradientPan 5s linear infinite; */
    transition: transform 0.25s ease-out;
}

.Header-Container nav a.active::after {
    transform: scaleX(1);
}


.Header-Container nav a.hidden {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

.MobileAction-Container {
    display: none;
}

.Header-ActionBtn {
    position: relative;
    border-radius: 0.2em;
    overflow: hidden;
    cursor: pointer;
}

.Header-ActionBtn::after {
    content: "";
    position: absolute;
    width: 120%;
    aspect-ratio: 1;
    background: conic-gradient(var(--purple),
            var(--pink),
            var(--purple));
    animation: spin 5s linear infinite;
}

.Header-ActionBtn>div {
    padding: 0.2em 1.35em;
    background-color: var(--base);
    color: var(--text);
    border-radius: inherit;
    margin: 2px;
    z-index: 2;
}


/* Mobile Responsive CSS */
@media (width < 750px) {
    .Header-Main {
        display: none;
    }
}