.Header-Main{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

.Header-Container{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, 
    rgba(0, 0, 0, 0.6),
    transparent);
    padding: 0.5em 2em;
    position: relative;
    top: 0;
    backdrop-filter: blur(1.5px);
    justify-content: space-between;
    transition: background 0.4s ease;
}

.Header-Logo{
    cursor: none;
}

:has(.Header-Logo:hover, 
.Header-ActionBtn:hover,
a:hover) #cursor{
    width: 40px;
    height: 40px;
    background: none;
    outline: 3px solid #fff;
}
:has(.Header-Logo:hover, 
.Header-ActionBtn:hover,
a:hover) #cursor::before{
    content: "";
    width: calc(100% - 10%);
    aspect-ratio: 1;    
    inset: 0;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    /* background-color: var(--base); */
}

.Header-Ham{
    display: none;
}

.Header-Container nav{
    list-style: none;
    gap: 1.5em;
    position: relative;
}

.Header-Container nav a{
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: none;
    color: var(--text);
    overflow: hidden;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Header-Container nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    /* background-color: var(--text); */
    background: var(--gradient);
    background-size: 200%;
    animation: gradientPan 5s linear infinite;
    transition: transform 0.25s ease-out;
}

.Header-Container nav a.active::after {
    transform: scaleX(1);
}

/* .Header-Container nav ul li a.active{
    font-weight: 700;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    background-size: 200%;
    animation: gradientPan 5s linear infinite;
  } */

  .Header-Container nav a.hidden{
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

.Header-NavUnderline{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

:has(.hiddenLine) .Header-NavUnderline{
    width: 0 !important;
}

.Header-ActionBtn{
    position: relative;
    border-radius: 0.2em;
    overflow: hidden;
}

.Header-ActionBtn::after{
    content: "";
    position: absolute;
    width: 120%;
    aspect-ratio: 1;
    background: conic-gradient(
        var(--purple),
        var(--pink),
        var(--purple));
    animation: spin 5s linear infinite;
}

.Header-ActionBtn>div{
    padding: 0.2em 1.35em;
    background-color: var(--base);
    color: var(--text);
    border-radius: inherit;
    margin: 2px;
    z-index: 2;
}


/* Mobile Responsive CSS */
@media (width < 750px){
    .Header-Nav,
    .Header-ActionBtn {
        display: none;
    }

    .Header-Container{
        padding: 0.5em 1.5em;
    }

    .Header-Ham{
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        gap: 0.6em;
    }

    .Header-Ham .HamLine{
        width: 2.5em;
        height: 0.2em;
        border-radius: 50px;
        background-color: #fff;
    }
    .line2{
        width: 1.8em !important;
    }
    .line3{
        width: 1em !important;
    }
}