---
import { HeroIntro, HeroOrbit } from "./React/HeroMotion";
---

<section
    class="w-full h-[calc(100vh-4rem)] px-6 py-4 bg-background flex justify-around items-center"
>
    <HeroIntro client:load />
    <HeroOrbit client:load />
</section>
