---
import { SkillGrid } from "./React";
import { CenterTitle, SkillTitle } from "./UI";
import {
    FrontendStack,
    BackendStack,
    ProgrammingStack,
    ToolsStack,
} from "../utils/SkillStack";
---

<section id="skills" class="w-full min-h-screen px-6 pb-4 pt-16 bg-background">
    <CenterTitle title="Tech Stack" color="purple" />

    <div
        class="Fade_Up flex justify-center items-start flex-col lg:flex-row gap-2"
    >
        <div class="Fade_Up flex_center flex-col gap-4 p-4 w-full h-full">
            <SkillTitle title="Front-End" color="purple" />
            <SkillGrid stack={FrontendStack} client:load />
        </div>

        <div class="Fade_Up flex_center flex-col gap-4 p-4 w-full h-full">
            <SkillTitle title="Back-End" color="purple" />
            <SkillGrid stack={BackendStack} client:load />
        </div>
    </div>

    <div class="flex justify-center items-start flex-col lg:flex-row gap-2">
        <div class="Fade_Up flex_center flex-col gap-4 p-4 w-full h-full">
            <SkillTitle title="Programming" color="purple" />
            <SkillGrid stack={ProgrammingStack} client:load />
        </div>

        <div class="Fade_Up flex_center flex-col gap-4 p-4 w-full h-full">
            <SkillTitle title="Tech & Tools" color="purple" />
            <SkillGrid stack={ToolsStack} client:load />
        </div>
    </div>
</section>
