.ProjectDetails-Main {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    padding: 1em 0.8em;
    background-color: var(--baseLite);
    backdrop-filter: blur(5px);
    transition: 0.25s ease-in-out;
    z-index: 99999;
}

.ProjectDetails-Main.Hidden {
    visibility: hidden !important;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 95vh;
    left: 45vw;
}

.ProjectDetails-Main.ShowModal {
    visibility: visible;
}

:has(.ProjectDetails-Main.ShowModal) body {
    overflow: hidden;
}

.ProjectDetails-Container {
    width: 100%;
    height: 100%;
    background: var(--cardGradientAlt);
    border-radius: 0.5em;
    position: relative;
}

.ProjectDetails-CloseBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: 1;
    background: none;
    border: none;
    transition: 0.2s ease-in-out;
}

.ProjectDetails-Main.Hidden .ProjectDetails-CloseBtn {
    opacity: 0;
}

@media (width < 750px) {
    .ProjectDetails-Main.Hidden {
        top: 95vh;
        left: 38vw;
    }
}