.ProjectDetails-Main {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    padding: 1em 0.8em;
    background-color: var(--baseLite);
    backdrop-filter: blur(5px);
    transition: 0.25s ease-in-out;
    z-index: 99999;
}

.ProjectDetails-Main.Hidden {
    visibility: hidden !important;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 105vh;
    left: 45vw;
    z-index: -999;
}

.ProjectDetails-Main.ShowModal {
    visibility: visible;
}

:has(.ProjectDetails-Main.ShowModal) body {
    overflow: hidden;
}

.ProjectDetails-Container {
    width: 100%;
    height: 100%;
    /* background: var(--baseLite); */
    border-radius: 0.5em;
    position: relative;
    align-items: flex-start;
}

.ProjectDetails-CloseBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    transition: 0.2s ease-in-out;
    z-index: 5;
    cursor: pointer;
}

.ProjectDetails-Main.Hidden * {
    position: absolute;
    opacity: 0;
}

.ProjectDetails-Main.ShowModal * {
    opacity: 1;
}

.ProjectDetails-Left {
    position: relative;
    /* background-color: var(--baseLite); */
    border-radius: 0.4em;
    width: 80%;
    height: 100%;
}

.ProjectDetails-Overlay {
    display: none;
}

.ProjectDetails-Screenshot {
    width: 100%;
    align-items: flex-start;
    position: relative;
}

.ProjectDetails-Screenshot img {
    border-radius: 0.4em;
}

.ProjectDetails-Logo {
    position: relative;
    width: 100%;
    top: -3.5em;
    z-index: 1;
}

.ProjectDetails-Logo::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--LogoBgColor);
    border-radius: 50%;
    padding: 1em;
}

.ProjectDetails-Logo img {
    z-index: 1;
}

.ProjectDetails-Info {
    position: relative;
    top: -1em;
}


.ProjectDetails-TechIcons img {
    width: 35px;
    height: 35px;
}

.ProjectDetails-Links {
    /* gap: 5em; */
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1em;
}

.ProjectDetails-Links a {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    color: var(--text);
    background: var(--LinkBtnGradient);
}

.ProjectDetails-Right {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
    padding-bottom: 3em;
    overflow-y: auto;
}

.ProjectDetails-Right div {
    width: 100%;
}

.ProjectDetails-About h2 {
    font-size: 1.6em;
}

.ProjectDetails-About p {
    line-height: 1.8em;
}

.ProjectDetails-Demo {
    padding-bottom: 1.5em;
}

.ProjectDetails-Info h1,
.ProjectDetails-Right h2,
.ProjectDetails-Right h3 {
    font-family: "Ubuntu";
}

@media (width < 750px) {
    .ProjectDetails-Container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .ProjectDetails-Main.Hidden {
        top: 95vh;
        left: 38vw;
    }

    .ProjectDetails-Left {
        width: 100%;
        height: fit-content;
        z-index: 1;
    }

    .ProjectDetails-Screenshot {
        align-items: center;
    }

    .ProjectDetails-Screenshot img {
        max-width: none;
    }

    .ProjectDetails-Logo {
        justify-content: center;
        left: 0;
        transform: translateX(0);
    }

    .ProjectDetails-Overlay {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--overlayGradient);
    }

    .ProjectDetails-TechIcons img {
        width: 28px;
        height: 28px;
    }
}