.Projects-Main {
    position: relative;
    padding: 2em 1em;
    /* padding-bottom: 0; */
    /* min-height: 100vh; */
}

.Projects-Container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 0 1em;
    padding-bottom: 1.5em;
    width: 100%;
}

.Projects-Container .CardHover {
    scale: 1;
    transition: 0.3s ease-in-out;
}

.Projects-Container .CardHover:hover {
    scale: 1.05;
}

.Projects-Item {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    position: relative;
    border-radius: 0.4em;
    color: var(--text);
    background: var(--cardGradient);
    /* transition: 0.3s ease; */
}

.Projects-Preview {
    width: 100%;
    position: relative;
    cursor: pointer;
}

:has(.Projects-Preview:hover) #cursor {
    width: 65px;
    height: 65px;
    background: none;
    outline: 2px solid hsla(0, 0%, 100%, 0.6);
}

:has(.Projects-Preview:hover) #cursorView {
    visibility: visible !important;
    font-size: 0.9em;
}

:has(.Projects-Preview:hover) #cursorDot {
    visibility: hidden !important;
}

.Projects-Shot {
    background-size: cover;
    border-radius: 0.4em 0.4em 0 100%;
    filter: opacity(0.5);
    transition: 0.3s filter ease-in-out;
}

.Projects-Item:hover .Projects-Shot {
    filter: opacity(0.8);
}

.Projects-Logo {
    position: absolute;
    left: 1em;
    bottom: 1.5em;
}

.Projects-Details {
    padding: 0 1em;
    width: 100%;
}

.Projects-Link {
    padding: 0.5em;
    z-index: 10;
    transition: 0.2s ease-in-out;
}

.Projects-Link:hover {
    scale: 1.1;
}

:has(.Projects-Link:hover) #cursor {
    width: 40px;
    height: 40px;
}

:has(.Projects-Link:hover) #cursorView {
    visibility: hidden !important;
}

:has(.Projects-Link:hover) #cursorDot {
    visibility: visible !important;
}

.Projects-Details p {
    text-align: center;
}

.Projects-Title {
    justify-content: space-between;
}

.Projects-Title h2 {
    font-family: "Ubuntu";
}

.Projects-Tech {
    /* padding-top: 0.5em; */
    align-items: flex-start;
}

.Projects-TechIcons {
    padding: 0.8em 0;
    width: 100%;
}

@media (855px < width < 1180px) {
    .Projects-Container {
        grid-template-columns: repeat(2, 1fr);
    }

    .Projects-Logo {
        left: 1em;
        bottom: 2em;
    }
}

@media (width < 855px) {
    .Projects-Container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        padding-bottom: 1.5em;
    }

    .Projects-Container .CardHover:hover {
        scale: 1;
    }

    .Projects-Item:hover .Projects-Shot {
        filter: opacity(0.5);
    }

    .Projects-Logo {
        left: 1em;
        bottom: 1.5em;
    }

    .Projects-Link:hover {
        scale: 1;
    }
}