.Projects-Main {
    position: relative;
    padding: 2em;
    padding-top: 0.5em;
    min-height: 100vh;
}

.Projects-Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 100%;
}

.Projects-Item {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.4em;
    background-color: rgba(132, 0, 255, 0.4);
}

.Projects-Preview {
    position: relative;
}

.Projects-Logo {
    position: absolute;
    left: 1em;
    bottom: 1em;
}

.Projects-Details {
    padding: 0.5em;
}

.Projects-Shot {
    position: relative;
    background-size: cover;
    border-radius: 0.4em 0.4em 0 100%;
}

.Projects-Tech {
    padding-top: 0.3em;
}

@media (750px < width < 1110px) {
    .Projects-Container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width < 750px) {
    .Projects-Container {
        grid-template-columns: repeat(1, 1fr);
    }
}