.Projects-Main {
    position: relative;
    padding: 2em 1em;
    /* padding-bottom: 0; */
    /* min-height: 100vh; */
}

.Projects-Container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 0 3em;
    padding-bottom: 1.5em;
    width: 100%;
}

.Projects-Container .CardHover {
    scale: 1;
    transition: 0.25s ease-in-out;
}

.Projects-Container .CardHover:hover {
    /* scale: 1.04; */
    transform: translateY(-1em)
}

.Projects-Item {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    position: relative;
    border-radius: 0.4em;
    color: var(--text);
    background: var(--cardGradient);
    /* transition: 0.3s ease; */
}

.Projects-Preview {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.Projects-Shot {
    background-size: cover;
    border-radius: 0.4em 0.4em 0 100%;
    filter: opacity(0.5);
    transition: 0.3s filter ease-in-out;
}

.Projects-Item:hover .Projects-Shot {
    filter: opacity(0.8);
}

.Projects-Logo {
    position: absolute;
    left: 1.5em;
    bottom: 1.5em;
}

.Projects-Details {
    padding: 0 1em;
    width: 100%;
    font-size: 0.95em;
}

.ProjectsDev-Warning {
    /* border: 1px solid #FFA500; */
    padding: 0.1em 0.25em;
    border-radius: 0.2em;
    color: #FFA500;
}

.Projects-Link {
    padding: 0.45em;
    border: 1px solid var(--purpleLite);
    border-radius: 100%;
    z-index: 10;
}

:has(.Projects-Link:hover) #cursor {
    width: 3em;
    height: 3em;
}

:has(.Projects-Link.Misc-Link:hover) #cursor {
    width: 5em;
    height: 5em;
}

:has(.Projects-Link:hover) #cursorView {
    visibility: hidden !important;
}

:has(.Projects-Link:hover) #cursorDot {
    visibility: visible !important;
}

.Projects-Details p {
    text-align: center;
}

.Projects-Title {
    justify-content: space-between;
}

.Projects-Title h2 {
    font-family: "Ubuntu";
}

.Projects-Tech {
    /* padding-top: 0.5em; */
    align-items: flex-start;
}

.Projects-TechIcons {
    padding: 0.8em 0;
    width: 100%;
}

.Projects-Misc {
    width: 100%;
    padding-top: 2em;
}

.Projects-Misc button {
    background: none;
    border: 1px solid var(--pinkLite);
    color: var(--text);
    min-width: 335px;
    font-size: 1.2em;
    padding: 0.25em 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

.Projects-Misc button svg {
    transition: 0.3s ease;
}

.Projects-MiscCardMain {
    border-radius: 0.4em;
    color: var(--text);
    background: var(--miscCardGradient);
}

.Projects-MiscCard {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.Projects-MiscInfo {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    cursor: pointer;
}

.Projects-MiscInfo h2 {
    letter-spacing: 1.5px;
}

.Projects-MiscCard>img {
    margin: 1em;
}

:has(.Projects-MiscInfo:hover) #cursor,
:has(.Projects-Preview:hover) #cursor {
    width: 5em;
    height: 5em;
    background: none;
    outline: 2px solid hsla(0, 0%, 100%, 0.6);
}

:has(.Projects-MiscInfo:hover) #cursorView,
:has(.Projects-Preview:hover) #cursorView {
    visibility: visible !important;
    font-size: 1.2em;
}

:has(.Projects-MiscInfo:hover) #cursorDot,
:has(.Projects-Preview:hover) #cursorDot {
    visibility: hidden !important;
}

@media (width < 855px) {
    .Projects-Container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0.5em;
        padding-bottom: 1.5em;
    }

    .Projects-Container .CardHover:hover {
        /* scale: 1; */
        transform: translateY(0)
    }

    .Projects-Item:hover .Projects-Shot {
        filter: opacity(0.5);
    }

    .Projects-Logo {
        left: 1em;
        bottom: 1.5em;
    }

    .Projects-Link:hover {
        scale: 1;
    }

    .Projects-Misc button {
        min-width: 225px;
    }

    .Projects-Misc svg {
        width: 30px;
        height: 30px;
    }

    .Projects-MiscCard img {
        width: 30px;
        height: 30px;
    }
}

@media (855px < width < 1180px) {
    .Projects-Container {
        grid-template-columns: repeat(2, 1fr);
    }

    .Projects-Logo {
        left: 1em;
        bottom: 2em;
    }
}

@media (width > 2400px) {
    .Projects-Container {
        grid-template-columns: repeat(4, 1fr);
    }
}