/* * {
    border: 1px solid red !important;
    outline: 1px solid green !important;
} */

a {
    cursor: pointer !important;
}

a,
button,
h1,
p {
    /* cursor: none !important; */
    text-decoration: none;
}

img {
    user-select: none;
    pointer-events: none;
}

.selectable p {
    user-select: text;
    cursor: text;
}

@keyframes gradientPan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/* Disable blue button click highlight */
input,
button,
a,
div {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--purpink);
    border-radius: 14px;
    border: 6px solid transparent;
    background-clip: content-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text) !important;
    transition: background-color 999999s ease-in-out 0s;
}