/* Mobile Ham Menu Animation --> */
.MobileNav_Ham.isOpen {
    transform: rotate(45deg);
}

:has(.MobileNav_Ham.isOpen) body {
    overflow-y: hidden !important;
}

.MobileNav_Ham.isOpen .top {
    stroke-dashoffset: -64px;
}

.MobileNav_Ham.isOpen .middle {
    stroke-dasharray: 40 142;
    stroke-dashoffset: 0%;
    transform: rotate(90deg);
}

.MobileNav_Ham.isOpen .bottom {
    stroke-dasharray: 40 85;
    stroke-dashoffset: -64px;
}

/* <-- Mobile Ham Menu Animation */


/* Projects Card Hover */
/* .CardHover {
    transition: 0.25s ease-in-out;
} */

/* .CardHover:hover {
    transform: translateY(-1em) !important
} */

.Card_Main:hover .Card_Image {
    opacity: 0.8;
}

:has(.Projects_Link:hover) #cursor {
    width: 3em;
    height: 3em;
}

:has(#emailCopyBtn:hover) #cursor,
:has(#passCopyBtn:hover) #cursor {
    width: 3em;
    height: 3em;
}

:has(.Projects_Link.Misc-Link:hover) #cursor {
    width: 5em;
    height: 5em;
}

:has(.Projects_Link:hover) #cursorView {
    visibility: hidden !important;
}

:has(.Projects_Link:hover) #cursorDot {
    visibility: visible !important;
}

:has(.Projects-MiscInfo:hover) #cursor,
:has(.Projects_Preview:hover) #cursor {
    width: 5em;
    height: 5em;
    background: none;
    outline: 2px solid hsla(0, 0%, 100%, 0.6);
}

:has(.Projects-MiscInfo:hover) #cursorView,
:has(.Projects_Preview:hover) #cursorView {
    visibility: visible !important;
    font-size: 1.2em;
    padding-bottom: 1.15em;
}

:has(.Projects-MiscInfo:hover) #cursorDot,
:has(.Projects_Preview:hover) #cursorDot {
    visibility: hidden !important;
}