:root{
  --primary: #000000;
  --base: #000000;
  --text: #fff;
  --pink: #ff00bf;
  --purple: #6600FF;
  --gradient: linear-gradient(to right,
  var(--pink), var(--purple),var(--purple),var(--pink));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body{
  background-color: var(--base);
  color: var(--text);
  scroll-behavior: smooth;
}

.App{
  position: relative;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  flex-direction: column;
}

.gap05{
  gap: 0.5em;
}

.gap{
  gap: 1em;
}

/* Tracker CSS */
.Tracker-Main{
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
}

.Tracker-Main #tracker{
  position: absolute;
  width: 400px;
  height: 400px;
  top: -200px;
  left: -200px;
  border-radius: 100px;
  z-index: -30;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  background: radial-gradient(rgba(48, 61, 179, 0.5), transparent 80%);
}

body:hover #tracker{
  opacity: 1;
}
/* Tracker CSS */


.gradientText{
  font-family: Satisfy;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientPan 5s linear infinite;
}

@keyframes gradientPan {
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}