:root{
  --primary: #000000;
  --base: #000000;
  --text: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--base);
  color: var(--text);
}

/* Tracker CSS */
.Tracker-Main{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}

.Tracker-Main #tracker{
  position: absolute;
  width: 400px;
  height: 400px;
  top: -200px;
  left: -200px;
  border-radius: 100px;
  z-index: -30;
  pointer-events: none;
  background: radial-gradient(rgba(48, 61, 179, 0.1), transparent 80%);
}
/* Tracker CSS */