<div class="Fade_Up opacity-0 translate-y-[50px]">
    <slot />
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    const FadeUpElement = document.querySelector(".Fade_Up");
    let tl = gsap.timeline({
        scrollTrigger: {
            trigger: FadeUpElement,
            start: "top 80%",
            toggleActions: "play none none none",
        },
    });

    tl.fromTo(
        FadeUpElement,
        {
            opacity: 0,
            y: 50,
        },
        {
            opacity: 1,
            y: 0,
            duration: 1.25,
            delay: 1.3,
        },
    );
</script>
